<script>



function scroll_down()
{
  $("html, body").animate({ scrollTop: $(document).height() }, 'fast');
  //$("html, body").animate({ scrollTop: $(document).height() }, 200);
}

function scroll_up()
{
  $("html, body").animate({ scrollTop: 0 }, 'fast');
  //$("html, body").animate({ scrollTop: $(document).height() }, 200);
}

$(window).load(function() {
  scroll_down();
});


</script>

<p id="notice"><%= notice %></p>

<!-- メニュー-->
<%= render :partial=>"layouts/nav_new"%>



<% @days_tasks.each do |tasks| %>
  <!-- index_visual   -->

  <style>
  .tm_lbl{
    height: 72px; 
    width: 50px;
  }
  .thin_bdr{
    border-style: solid; border-width: 0 thin thin 0;
  }
  .odd_row{
    background-color: pink;
  }
  .even_row{
    background-color: lightblue;
  }
  </style>

  <% 
    first_task = tasks[0]
    # 分を０にセットして本日の開始時間を決定
    day_start_tm = first_task.start.change :min=>0


  %>

  <!-- 日付 -->
  <div style="font-size:18pt; margin-top:40px; margin-bottom:20px; margin-left:180px">
    <%= tasks[0].start.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[tasks[0].start.wday]})")%>
  </div>

  <div>
    <!-- 時間の目盛り  -->
    <div style="float:left">
      <div style="width:50px; border-style: solid; border-width: 0 thin thin thin; height:1px;"></div>
      <% (day_start_tm.hour..23).each do |t| %>
        <div class="tm_lbl thin_bdr" style="text-align:center; font-size:12pt;line-height:72px;"><%= sprintf("%02d", t) %></div>
      <% end %>
    </div>


    <!-- タスクを表示 -->
    <%
      #　今日の終わりの時間
      day_end_tm = first_task.start.change :min=>00, :hour=>24, :sec=>00
    %>
    <!-- タスク記入欄の背景 -->
    <div style="float:left; height:<%= (day_end_tm-day_start_tm)/50 %>px; background-color: gray">
      <div style="width:550px; border-style: solid; border-width: 0 thin thin thin; height:1px;"></div>

      <!-- 最初のタスク前　時間調整 -->
      <div class="thin_bdr" style="background-color:gray; width:550px;  height: <%= (first_task.start-day_start_tm)/50 %>px;">
      </div>

      <!--各タスクを表示 -->
      <% tasks.each do |t|%>
        <% if t.show_flg == true %>

          <!-- タスクの色 -->
          <%
            #background-color用
            bg_col_h = {
              "^Nani":"lightblue",
              "^NANI":"lightblue",
              "^nani":"lightblue", 
              "^休憩":"yellow", 
              "^android":"orange", 
              "^計画":"violet", 
              "食":"tomato",
              "^rails":"HotPink",
              "^MVNO":"Aquamarine",
              "^Java":"MediumPurple",
              "^ふろ":"LightSeaGreen",
            }

            TaskColor.all.each do | tc |
              bg_col_h.store(tc.text, tc.color)
            end

            bg_col="ivory"
            bg_col_h.each do |word, col|
              if t.body.match /#{word}/
                bg_col=col
                break;
              end
            end
          %>

          <div class="thin_bdr <%= cycle('odd_row', 'even_row')%>" style="padding-left:15px; width:550px; display:table;
                        height: <%= (t.end-t.start)/50 %>px; background-color: <%=bg_col%>;">
            <!-- タスク内容 -->
            <!--<div style="display:table-cell; vertical-align:middle; ">-->
              <%= t.body %>
            (<%=(Time.at t.end-t.start).utc.strftime "%H:%M" %>)
            <!--</div>-->
          </div>

        <% end %>
      <% end %>

    </div>
    <div style="clear: both"></div>

  </div>






  </br>
<% end %>
<br>

<div style="width: 600px">
  <p id="notice"><%= notice %></p>

  <% @task = Task.new %>

  <%= form_for(@task) do |f| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field" style="display:none">
      <%= f.label :start %><br>
      <%= f.datetime_select :start,:include_seconds => true, :order => [:month, :day, :year, :hour, :minute, :second] %>
    </div>

    <div class="field">
      <div class="txt_cont">
        <%= f.text_area :body, size:"x5"  %>
      </div>
    </div>
    <div class="actions" style="text-align: right">
      <%= f.submit "記録"  %>
    </div>
  <% end %>

<!-- メニュー-->
<%= render :partial=>"layouts/nav_new"%>

</div>
