<p id="notice"><%= notice %></p>

<p> タスクスタートしました</p>

<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start,:include_seconds => true, :order => [:month, :day, :year, :hour, :minute, :second]  %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, size:"70x20"  %>
  </div>
  <div class="actions">
    <%= f.submit "END"  %>|<%= link_to "キャンセル", tasks_path  %>
  </div>
<% end %>
    
