<h1>New Capsel</h1>

<%= render 'form' %>


<%= form_tag(action:"create") do %>
  <%= text_area_tag "data","", :rows=>20, :cols=>50 %><br/>
  <%= submit_tag "SEND" %>
<% end %>

<%= link_to 'Back', capsels_path %>
