<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @capsel.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @capsel.end %>
</p>

<%= link_to 'Edit', edit_capsel_path(@capsel) %> |
<%= link_to 'Back', capsels_path %>
