<div class="cal_title"  style=""><%=year %>年<%=month%>月</div>

<table class="cal" style="margin-left:auto; margin-right:auto">
  <tr><td><%= %w(月 火 水 木 金 土 日).join('</td><td>').html_safe%></td></tr>
  <% weeks.each do |week| %>
    <tr>
      <% week.each do |memo| %>
        <% 
          class_str = "" 
          if  !memo.nil?
            class_str = !memo.body.nil? ? "yotei_ari ":"" 
            class_str = memo.date == Date.today ? "today " :class_str
            class_str += HolidayJp.holiday?( memo.date) || memo.date.wday==0 ? "yasumi " :"" 
            class_str += memo.date.wday==6 ? "sat " :"" 
            class_str += capsel_start_dates.include?(memo.date) ? "capsel_start_day ": ""
            class_str += capsel_stay_dates.include?(memo.date) ? "capsel_stay_day ": ""
          end
  
        %>
        <td class="<%=class_str%>">
          <div class="hvr-bounce-in" style="padding: 3px">
            <% if !memo.nil?  %>
              <%= memo.id!=0? (link_to memo.date.day, edit_memo_path(memo)):
                        (link_to memo.date.day, :action=>"new", :params=>{:date=>memo.date}) %>
            <% end %>
          </div>
        </td>
      <% end %>
    </tr>

  <% end %>
</table>
