
<%= javascript_tag do %>

  //----------------------------------------------------------//
  function update_db(){
    $.ajax({
        type: "POST",
        url: "<%= memos_hoge_path %>",
        data: {
          id: "<%= @memo.id %>",
          body: document.getElementById('memo_body').value,
          date:"<%= @memo.date %>"
        },
        success: function(j_data){

          // 処理を記述
        }
    });
  }
  //----------------------------------------------------------//
<% end %>


<div style="width: 600px">
<%= form_for(@memo) do |f| %>
  <% if @memo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memo.errors.count, "error") %> prohibited this memo from being saved:</h2>

      <ul>
      <% @memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div >

    <div><h2> <%= @memo.date.strftime("%1m/%1d") %> (<%= %w(日 月 火 水 木 金 土)[@memo.date.wday] %>)</h2> </div>

    <div class="field" style="display:none">
      <%= f.label :date %><br>
      <%= f.datetime_select :date %>
    </div>
    <div class="field">
      <!--<%= f.label :body %><br>-->
      <%= f.text_area :body, :size=>"70x20", :onchange=>"update_db();" %>
    </div>
    <!--
    <div class="actions" style="text-align: right">
      <%= f.submit "save" %>
    </div>
    -->
  </div>
<% end %>
