<%= javascript_include_tag 'behave.js', 'data-turbolinks-track' => true %>
<%= javascript_tag do %>

  //----------------------------------------------------------//
  function update_db(){
    $.ajax({
        type: "POST",
        url: "<%= memos_periodic_save_path %>",
        data: {
          id: "<%= @memo.id %>",
          body : document.getElementById('memo_body' ).value,
          body2: document.getElementById('memo_body2').value,
          body3: document.getElementById('memo_body3').value,
          body4: document.getElementById('memo_body4').value,
          date:"<%= @memo.date %>"
        },
        success: function(j_data){

          // 処理を記述
        }.e
    });
  }
  //----------------------------------------------------------//
<% end %>


<style type='text/css'>

  textarea{
    border:1px solid #999;
    padding:1px;
    font-family: monospace;
    font-size:13px;
    }
    textarea:focus{
      border-color:#333;
    }
</style>

<script type="text/javascript">
  $(document).ready( function() {
    ["memo_body","memo_body2","memo_body3","memo_body4"].map( function( text_area_id ) {
        var editor = new Behave({
          textarea:     document.getElementById(  text_area_id ),
          replaceTab:   true,
            softTabs:     true,
            tabSize:    2,
            autoOpen:     true,
            overwrite:    true,
            autoStrip:    true,
            autoIndent:   true
        });
    });
  });
</script>

<%= form_for(@memo) do |f| %>
  <% if @memo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memo.errors.count, "error") %> prohibited this memo from being saved:</h2>

      <ul>
      <% @memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div >

    <div>
      <h2 class="entry_title" > 
        <% str= "< " %>
        <% if !@prev_day_memo.nil?  %>
          <%= @prev_day_memo.id!=0? (link_to str, edit_memo_path(@prev_day_memo)):
                    (link_to str, :action=>"new", :params=>{:date=>@prev_day_memo.date}) %>
        <% end %>
        <%= @memo.date.strftime("%1m/%1d") %> (<%= %w(日 月 火 水 木 金 土)[@memo.date.wday] %>) 

        <% str= " > " %>
        <% if !@next_day_memo.nil?  %>
          <%= @next_day_memo.id!=0? (link_to str, edit_memo_path(@next_day_memo)):
                    (link_to str, :action=>"new", :params=>{:date=>@next_day_memo.date}) %>
        <% end %>

        <% str= " <CoPy> " %>
        <% if !@next_day_memo.nil?  %>
          <%= @next_day_memo.id!=0? (link_to str, edit_memo_path(@next_day_memo,{:copy=>"YES"})):
                    (link_to str, :action=>"new", :params=>{:date=>@next_day_memo.date,:copy=>"YES",:prev_id=>@memo.id}) %>
        <% end %>
      </h2>
    </div>

    <!-- body..body3 --> 
    <% row_cnt=55 %>
    <% col_cnt=65 %>
    <% col_width="400px" %>
    <!-- body4 --> 
    <% col_width_plan="100px" %>
    <% row_cnt_plan=55 %>
    <% col_cnt_plan=19 %>

    <div class="field" style="display:none">
      <%= f.label :date %><br>
      <%= f.datetime_select :date %>
    </div>
    <div>
      <div class="field" style="float:left; width: col_width">
        <%= f.text_area :body, :cols=> col_cnt, :rows=>row_cnt, :onchange=>"update_db();" %>
      </div>
      <div class="field" style="float:left; width: col_width">
        <%= f.text_area :body2, :cols=> col_cnt, :rows=>row_cnt, :onchange=>"update_db();" %>
      </div>
      <div class="field" style="float:left; width: col_width">
        <%= f.text_area :body3, :cols=> col_cnt, :rows=>row_cnt, :onchange=>"update_db();" %>
      </div>
      <div class="field" style="float:left; width: col_width_plan">
        <%= f.text_area :body4, :cols=> col_cnt_plan, :rows=>row_cnt_plan, :onchange=>"update_db();" %>
      </div>
    </div>

  </div>
<% end %>
