<p id="notice"><%= notice %></p>

<h1>Listing Memos...</h1>

<div class="cal_title"><%= @year%>年<%=@month %>月</div>

<table class="cal">
  <tr><td><%= %w(月 火 水 木 金 土 日).join('</td><td>').html_safe%></td></tr>
  <% @weeks.each do |week| %>
    <tr>
      <% week.each do |day| %>
      <td>
        <%= link_to day, :action=>"edit", :params=>{year:@year,month:@month,day:day, id:0} unless day.nil?%>
      </td>
      <% end %>
    </tr>

  <% end %>
</table>
</br>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.date %></td>
        <td><%= memo.body %></td>
        <td><%= link_to 'Show', memo %></td>
        <td><%= link_to 'Edit', edit_memo_path(memo) %></td>
        <td><%= link_to 'Destroy', memo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memo', new_memo_path %>
