<p id="notice"><%= notice %></p>


<!--<h1>Listing Memos...</h1>-->
<div style="width: 600px">

  <% this_month = @month_start %>
  <% @month_weeks_arr.each do |weeks| %>

      <div style="float:left; width: 200px; height: 150px">
        <%= render :partial =>"cal", :locals => { weeks:weeks, year:@year, month:this_month, 
                                                       capsel_start_dates: @capsel_start_dates, 
                                                       capsel_stay_dates:@capsel_stay_dates } %>
        
      </div>
      <% this_month+=1 %>
    
  <% end %>

</br>
<div style="clear: both;   ">
<!-- Memo List -->
<hr>
<table>

  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.date.strftime("%m/%d")%><br><pre><%= memo.body %></pre></td>

     </tr>
     <tr>
        <td style="text-align:right;">
        <%= link_to  edit_memo_path(memo) do %><i class="glyphicon glyphicon-pencil"></i><% end %>
        <%= link_to  memo, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="glyphicon glyphicon-trash"></i><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

</div>
<%#= link_to 'New Memo', new_memo_path %>
