<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <title><%= @title || "Nani" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="width: 600px; height:50px; text-align: center;">
	<span style="font-size: 28px">
	  <%= link_to "Memos", memos_path %>
	  <%= link_to "Tasks", tasks_path, :onclick => 'scroll_down();' %>
	  <%= link_to "Capsels",  capsels_path %>
	</span>
 	  <%= link_to "| PgDn", "#", {:onclick =>'scroll_down();'} %>
</div>

<%= yield %>

<div style="width: 600px; height:50px; text-align: center;">
	<span style="font-size: 28px">
	  <%= link_to "Memos", memos_path %>
	  <%= link_to "Tasks", tasks_path %>
	  <%= link_to "Capsels",  capsels_path %>
	</span>
 	  <%= link_to "| PgUp", "#", {:onclick =>'scroll_up();'} %>
</div>

</body>
</html>
